<!DOCTYPE html>
<html>
<head>
<!--js include-->
{{template "/chat/head.shtml"}}
</head>
<body>
<!--Bottom menu-->
{{template "/chat/tabmenu.shtml"}}
<header class="mui-bar mui-bar-nav">
</header>
<div class="mui-content" id="pageapp">
     <!--Contact-->
     {{template "/chat/concat.shtml"}}
     <!--Group chat-->
     {{template "/chat/group.shtml"}}
     <!--Personal Center-->
     {{template "/chat/profile.shtml"}}
     <!--Chat main interface-->
     {{template "/chat/main.shtml"}}
     <!--Create group owner interface-->
     {{template "/chat/createcom.shtml"}}
     <!--Modify information main interface-->
     {{template "/chat/userinfo.shtml"}}
</div>
</body>
</html>
{{template "/chat/foot.shtml"}}