{{define "/user/login.shtml"}}
<!DOCTYPE html>
<html>

<head>
    {{template "/chat/head.shtml"}}
</head>

<body>

    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title">Login</h1>
    </header>
    <div class="mui-content" id="pageapp">
        <form id='login-form' class="mui-input-group">
            <div class="mui-input-row">
                <label>Account</label>
                <input v-model="user.mobile" placeholder="Please enter phone number" type="text" class="mui-input-clear mui-input">
            </div>
            <div class="mui-input-row">
                <label>PassWord</label>
                <input v-model="user.passwd" placeholder="please enter password" type="password" class="mui-input-clear mui-input">
            </div>
        </form>
        <div class="mui-content-padded">
            <button @click="login" type="button" class="mui-btn mui-btn-block mui-btn-primary">Login</button>
            <div class="link-area"><a id='reg' href="register.shtml">Register an account</a> <span class="spliter">|</span> <a
                    id='forgetPassword'>Forgot password</a>
            </div>
        </div>
        <div class="mui-content-padded oauth-area">
        </div>
    </div>
</body>

</html>
<script>
    var app = new Vue({
        el: "#pageapp",
        data: function () {
            return {
                user: {
                    mobile: "",
                    passwd: ""
                }
            }
        },
        methods: {
            login: function () {
                // Check if the phone number is correct
                 console. log("login")
                 // Check if the password is empty

                 //network request
                 // encapsulates promis
                util.post("user/login", this.user).then(res => {
                    console.log(res)
                    if (res.code != 0) {
                        mui.toast(res.msg)
                    } else {
                        var url = "/chat/index.shtml?id=" + res.data.id
                            + "&token=" + res.data.token
                        userInfo(res.data)
                        userId(res.data.id)
                        // localStorage.setItem('userInfo', JSON.stringify(res.data))
                        location.href = url
                        //mui.alert(url)
                    }
                })
            },
        }
    })
</script>
{{end}}